<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>
  <body>
    <div class="main-wrapper">
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer'%>
    </div>
    <%= render 'layouts/modal'%>
    <%= javascript_include_tag 'application' %>
  </body>
</html>